/* MAKE SURE YOU MAINTAIN PHONICS.CSS and PHONICS.MOBILE.CSS TOGETHER */


 /*reset.css */
/*html {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 0;*/
/*}*/

/*body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del,*/
/*dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,*/
/*tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav,*/
/*section {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 0;*/
/*    font: inherit;*/
/*    vertical-align: baseline;*/
/*}*/


html, body {width: auto!important; overflow-x: hidden!important}

article, aside, details, dialog, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.3;
    background: white;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, tr {
    text-align: left;
    font-weight: normal;
    float: none;
}

table, th, tr, td {
    vertical-align: middle;
    background-color: white;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
}

blockquote, q {
    quotes: "" "";
}

a img {
    border: none;
}

:focus {
    outline: 0;
}


/* basic defaults */
ul {
    list-style-type: disc;
}

ul li {
    margin: 0 0 0 30px;
    padding: 0 0 0 12px;
}

 /*--- new timer */
button.timerButton {
    height: 40px;
    width: 100px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
}

button.timerButton:hover {
    background-color: hotpink;
}

button.timerButton:active {
    background-color: hotpink;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#minutes, #seconds {
    font-size: 40px;
}

button.startButton {
    border: 2px solid rgb(40, 167, 69);

}

button.stopButton {
    background-color: rgb(220, 53, 69);
    color: white;
}

button.resetButton {
    background-color: rgb(266, 193, 7);
    color: rgb(33, 37, 41);
}

/* ----sound and spelling----------------------- */

.sound {
    font-family: sans-serif;
    font-style: normal;
    font-size: inherit;
    font-weight: bold;
    color: #666;
    border: solid 1px grey;
    border-radius: 5px;
    text-align: center;
    background: bisque;
    margin: 1px;
    padding: 3px;
}

/*.sound:before {*/
/*    content: "/";*/
/*}*/

/*.sound:after {*/
/*    content: "/";*/
/*}*/

.spelling {
    font-family: sans-serif;
    font-style: normal;
    font-size: inherit;
    color: red;
}

/*.spelling:before {*/
/*    content: "[";*/
/*}*/

/*.spelling:after {*/
/*    content: "]";*/
/*}*/

/* ------------------------ */

#canvas-container {
    border: black 1px solid;
    width: 810px;
    height: 810px;
}


img.floatLeft {
    float: left;
    margin: 4px;
}

img.floatRight {
    float: right;
    margin: 4px;
}

table.wordlist tr {
    border: none;
}

table.wordlist td {
    border: none;
    color: #cccccc;
}

table.wordlist td.current {
    border: none;
    color: #ff00ff;
}

table.wordlist td.processed {
    border: none;
    color: #000000;
}


.red {
    color: red;
}

.tac {text-align: center}
.tal {text-align: left}
.tar {text-align: right}

/* thumb class */
img.thumb {
    padding: 5px !important; /* Some padding */
    width: 90%; /* Set a small width */
}

img:hover.thumb {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.bdp-thumb img {
    max-width: 100%;
    height: auto;
    margin-left: 5px;
    padding: 5px;

}

.pronounce-thumb img {
    max-width: 100%;
    height: auto;
    padding: 5px;
}


/* info-thumb class */
img.info-thumb {
    padding: 5px !important; /* Some padding */
    width: 40px; /* Set a small width */
    height: 40px;
    margin-bottom: 15px;
}

img:hover.info-thumb {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


td.info-thumb {
    width: 100px;
    text-align: center;
}


.bordered {
    border: 2px solid #444 !important; /* Gray border */
}


/*div.info-container {*/
/*    max-width: 100px;*/
/*    height: auto;*/
/*    position: relative;*/
/*    !*margin: 1.563em auto;*!*/
/*}*/

/*div.info-container a {*/
/*    text-decoration: none;*/
/*    color: white;*/
/*    cursor: default;*/
/*    font-weight: normal;*/
/*}*/

/*div.info-container a span {*/
/*    visibility: hidden;*/
/*    position: absolute;*/
/*    left: -205px;*/
/*    top: 2em;*/
/*    background-color: white;*/
/*    border-radius: 6px;*/
/*    border: 2px solid lightgray;*/
/*    color: #444444;*/
/*    width: 200px;*/
/*    font-size: 0.8em;*/
/*    padding: 0.3em;*/
/*    cursor: default;*/
/*    line-height: 1.4;*/
/*    opacity: 0;*/

/*}*/

/*div.info-container a:hover span {*/
/*    visibility: visible;*/
/*    opacity: 1;*/
/*    background-color: white;*/
/*    z-index: 1;*/
/*}*/


/* Practice tab timer button */
.timerButton {
    width: 60px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 12px;
    cursor: pointer;
    padding: 3px;
    border-radius: 4px;
    margin: 3px;
    border-width: 2px;
    border-style: solid;

}

.timerButton:hover {
    background-color: #cccccc;
    color: white;
}

.timerButton:active {
    transform: translateY(4px);
}

.progressButton {
    font-family: "Comic Sans MS", Geneva, sans-serif;
    border: 3px solid #00aabe;
    color: #00aabe;
    /*width: 175px;*/
    /*height: 40px;*/
    line-height: 1.5rem;
    font-size: 150%;
    padding: 3px;
    margin: 8px;
    border-radius: 8px;
    text-align: center;
    vertical-align: center;
}

.img-scale {
    object-fit: scale-down;
}

a.img-contain {
    position: relative;
}
a.img-contain img {
    object-fit: scale-down;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*figcaption {*/
/*    position: absolute;*/
/*    background-color: transparent;*/
/*    top: 100%;*/
/*    left: 0;*/
/*    right: 0;*/
/*    display: block;*/
/*}*/

.bw3 {border-width: 3px; border-style: solid;}

/* Responsive font sizes for bootstrap */

@media (max-width: 1200px) {
  legend {
    font-size: calc(1.275rem + 0.3vw);
  }
  h1,
  .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  h2,
  .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  h3,
  .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  h4,
  .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }

  h5,
  .h5 {
    font-size: calc(1.2rem + 0.2vw);
  }

  .display-1 {
    font-size: calc(1.725rem + 5.7vw);
  }
  .display-2 {
    font-size: calc(1.675rem + 5.1vw);
  }
  .display-3 {
    font-size: calc(1.575rem + 3.9vw);
  }
  .display-4 {
    font-size: calc(1.475rem + 2.7vw);
  }
  .close {
    font-size: calc(1.275rem + 0.3vw);
  }
}

.modal-backdrop.in {opacity: 0.2 !important;}

 [id*=-tab] {
     color: dimgray !important;
 }

 [id^=menuItem]  {
     font-size:.75rem;
     color: white !important;
 }


/*iframe {overflow: hidden;}*/

/* classes based on screen size (if using max-midth order largest to smallest) */

 /* 0 - 575 pixels wide - phone */
@media  (max-width: 575px) {
     .sfp {font-size: .75rem !important;}
     .wordlist {font-size: 1.5rem !important;}
     .scaled {transform:scale(.4, .4);}
     .size--tab-icon {height: 40px; width: 40px}
     .size--tab-icon-height {height: 40px;}
}


 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767px) {
     .sfp {font-size: .9rem !important;}
     .wordlist {font-size: 2rem !important;}
     .scaled {transform:scale(.6, .6);}
     .size--tab-icon {height: 40px; width: 40px}
     .size--tab-icon-height {height: 40px;}
 }

 /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
 @media (min-width: 768px) and (max-width: 991px) {
     .sfp {font-size: .95rem !important;}
     .wordlist {font-size: 2.5rem !important;}
     .scaled {transform:scale(.75, .75);}
     .size--tab-icon {height: 70px; width: 70px}
     .size--tab-icon-height {height: 70px;}
 }
 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) {
     .sfp {font-size: 1rem !important;}
     .wordlist {font-size: 3rem !important;}
     .scaled {transform:scale(1.0, 1.0);}
     .size--tab-icon {height: 100px; width: 100px}
     .size--tab-icon-height {height: 100px;}
 }

 input[type="checkbox"] {
     vertical-align: middle;
 }
 .float-input input{
   float:left;
 }

/* see: https://www.geeksforgeeks.org/how-to-disable-scrolling-temporarily-using-javascript/ */
/* IOS needs this at least or colorbox iframes move around */
.body__scroll_disable {
    height: 100%;
    overflow: hidden;
}

/* used for colorbox games iframe in base.html.twig line 92 */
.gameFrame {
    border: 2px solid dimgray;
}

/* override navbar-nav active color */
.nav-item.a:not(.active)  {
    background-color: transparent;
}
 /*override navbar-nav active color */
.nav-item.active  {
    background-color: #00aabe;
}

.nav-item:focus .nav-item:hover  {
    background-color: #999;
}

.bg-tab {
    background-color: #ccc;
}


