
{% extends 'base.html.twig' %}

{# fields
	`lessonCode` VARCHAR(32) NOT NULL COMMENT 'Format: G01L01',
	`lessonName` VARCHAR(128) NOT NULL,
	`lessonDisplayAs` VARCHAR(128) NOT NULL,
	`groupCode` VARCHAR(32) NULL DEFAULT NULL,
	`lessonContent` JSON NULL DEFAULT NULL,
	`wordList` VARCHAR(1024) NULL DEFAULT NULL,
	`supplementalWordList` VARCHAR(1024) NULL DEFAULT NULL,
	`stretchList` VARCHAR(1024) NULL DEFAULT NULL,
	`flipBook` VARCHAR(50) NOT NULL DEFAULT '',
	`active` ENUM('Y','N') NOT NULL DEFAULT 'Y',
	`alternateNames` JSON NULL DEFAULT NULL,
	`fluencySentences` JSON NULL DEFAULT NULL,
	`games` JSON NULL DEFAULT NULL,
	`spinner` JSON NULL DEFAULT NULL,
	`contrastImages` JSON NULL DEFAULT NULL,
	`ordinal` TINYINT(4) NOT NULL DEFAULT '0',
#}

{% block otherScripts %}
  <script type="text/javascript">
  function fetch_select(val)
  {
   $.ajax({
   type: 'post',
   url: 'fetch_data.php',
   data: {
    get_option:val
   },
   success: function (response) {
    document.getElementById("new_select").innerHTML=response;
   }
   });
  }

  </script>
{% endblock %}

{%  block body %}
<form id="form1" name="form1" method="post" action="/edit/lesson">
  <label for="lessonCode">Lessoncode</label><input type="text" name="lessonCode" id="lessonCode"/>
  <br class="clear"/>
  <label for="lessonName">Lessonname</label><input type="text" name="lessonName" id="lessonName"/>
  <br class="clear"/>
  <label for="lessonDisplayAs">Lessondisplayas</label><input type="text" name="lessonDisplayAs" id="lessonDisplayAs"/>
  <br class="clear"/>
  <label for="groupCode">Groupcode</label><select name="groupCode" id="groupCode">
    <option value="G01">G01</option>
    <option value="G02">G02</option>
  </select>
  <br class="clear"/>
  <input type="hidden" name="lessonContent" id="lessonContent"/>
  <br class="clear"/>
  <label for="wordList">Wordlist</label><textarea name="wordList" id="wordList" cols="45" rows="5"></textarea>
  <br class="clear"/>
  <label for="supplementalWordList">Supplementalwordlist</label><textarea name="supplementalWordList" id="supplementalWordList" cols="45" rows="5"></textarea>
  <br class="clear"/>
  <label for="stretchList">Stretchlist</label><textarea name="stretchList" id="stretchList" cols="45" rows="5"></textarea>
  <br class="clear"/>
  <label for="flipBook">Flipbook</label><input type="text" name="flipBook" id="flipBook"/>
  <br class="clear"/>
  <label for="active">Active</label>
  <input type="checkbox" name="active[]" value="Y" id="active_0"/>Y
  <input type="checkbox" name="active[]" value="N" id="active_1"/>N
  <br class="clear"/>
  <label for="alternateNames">Alternatenames</label><input type="text" name="alternateNames" id="alternateNames"/>
  <br class="clear"/>
  <label for="fluencySentences">Fluencysentences</label><textarea name="fluencySentences" id="fluencySentences" cols="45" rows="5"></textarea>
  <br class="clear"/>
  <label for="games">Games</label><textarea name="games" id="games" cols="45" rows="5"></textarea>
  <br class="clear"/>
  <label for="spinner">Spinner</label><textarea name="spinner" id="spinner" cols="45" rows="5"></textarea>
  <br class="clear"/>
  <label for="contrastImages">Contrastimages</label><input type="text" name="contrastImages" id="contrastImages"/>
  <br class="clear"/>
  <label for="ordinal">Ordinal</label><input type="text" name="ordinal" id="ordinal"/>
  <br class="clear"/>
</form>
{% endblock %}
