{% extends 'base.html.twig' %}

{#
Inputs:
        selector    dropdown  studentName Trainer
        uuid        textbox   varchar(16)
        UserName    textbox   varchar(64)
        EMail       textbox   varchar(64)
        Mastery     textbox   array [lessonName => masteryLevel]
#}

{%  block title %}Phonics 202 Users{% endblock %}
<form action="">
  <label for=""></label><input type="text" name="" id="">
</form>
