{% extends 'base.html.twig' %}
{#
parameters: before, after

#}

{% block titleBar %}{% endblock %}

{% block body %}

  <div class="row d-flex m-4" style="max-width: 300px">
    <img src="/images/logo-150.png" alt="ReadXYZ" style="width:40%;max-width:180px;">
  </div>
  <div class="row d-flex m-4">
    <div>{{ before }}</div>
  </div>
  <div class="row d-flex m-4">
    <div>{{ after }}</div>
  </div>
  <form name="frm" method="POST" action="/" id="frm" data-ajax="false" autocomplete="off">
    <input type="submit" value="Resume Phonics" class="btn btn-primary mt-3 " >
  </form>
{% endblock %}
