{% extends 'base.html.twig' %}
{#
parameters:
	username (optional)
#}



{% block body %}
	{% from "macros.html.twig" import toast %}
	<style>.wlx {max-width: 25em;}</style>

	<div class="row d-flex m-4" style="max-width: 300px">
		<img src="/images/logo-150.png" alt="ReadXYZ" style="width:40%;max-width:180px;">
	</div>
	<div class="m-4">
		<form name="frm" method="POST" action="/" id="frm" data-ajax="false" autocomplete="off">
			<label for="username" class="pt-3">Username</label>
			<input type="text" name="username" id="username" value="{{ username }}" class="form-control wlx"
			       aria-describedby="emailHelp" placeholder="Enter email address" autocomplete="on">
			<input type="submit" value="LOG IN" class="btn btn-primary mt-3 " style="text-align: center">
			<input type="hidden" name="handler" value="validate"/>
		</form>
	</div>


{% endblock %}

{% block otherJS %}
	<script>
		$(document).ready(function () {
				$(document).on('click','input[type=text]',function(){ this.select(); });

				document.cookie = "readXYZ_user=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    });
	</script>
{% endblock %}

{# template test:
phonics101.test/login
#}
