{% extends 'base.html.twig' %}

{% block titleBar %}{% endblock %}

{# parameters:
    studentLinks[] (keys: url, title)
#}
{% block body %}
  <div class="row d-flex m-4" style="max-width: 300px">
    <img src="/images/logo.png" alt="ReadXYZ" style="width:40%;max-width:180px;">
  </div>
  <div class="row m-4">
    <div class="h3 pt-3">Select a student:</div>
  </div>
  <div class="row m-4">
    <div class="list-group p-3" style="max-width: 200px">
        {% for student in studentLinks %}
            {% set active = loop.first ? 'active' : '' %}
            <a href="{{ student.url }}" class="list-group-item list-group-item-action {{ active }}">{{ student.title }}</a>
        {% endfor %}
    </div>
  </div>

{% endblock %}

{# test template:
phonics101.test/actions/processStudentSelection.php?P1=S5eb35006f2a1e
 #}
