{% extends 'base.html.twig' %}

{# parameters:
    studentLinks[] (keys: url, title)
#}
{% block body %}
    <img src="/images/logo.png" alt="ReadXYZ" style="width:40%;">
    <br><div class="h3 pt-3">Select a student:</div><br>
    <div class="list-group p-3" style="max-width: 200px">
        {% for student in studentLinks %}
            {% set active = loop.first ? 'active' : '' %}
            <a href="{{ student.url }}" class="list-group-item list-group-item-action {{ active }}">{{ student.title }}</a>
        {% endfor %}
    </div>
{% endblock %}
